#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  position: relative;
}

.container {
  position: relative;
}

iframe {
  width: 90vw;
  height: 65vh;
}

video {
  display: block;
  top: 50%;
  left: 50%;
  background-color: #000;
}

canvas {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.screenshot {
  width: 100%;
  max-width: 800px;
  margin-bottom: 2em;
}

.btn {
  display: block;
  position: absolute;
  top: auto;
  bottom: 0;
}

.online {
  color: springgreen;
  position: absolute;
  z-index: 1;
  left: auto;
  right: 0;
  padding: 0 4px;
}

.ppe-status {
  position: absolute;
  z-index: 1;
  background-color: white;
  border-radius: 0 0 4px;

  .red {
    color: red;
    padding: 4px;
  }
  
  .green {
    color: springgreen;
    padding: 4px;
  }
}
